/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #2353ac;
  --error: #c51919;
}

body {
  background: #333;
  margin: 0;
  font-family: "Montserrat";
}

.container {
  /*overflow: hidden;*/
  background: #cfcfcf;
  text-align: left;
  border-radius: 15px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 17px;
  margin-bottom: 17px;
  align-items: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container h2 {
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #333;
  text-decoration: none;
}

.container h1 {
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #333;
  text-decoration: none;
}

header a {
  color: #333;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  float: left;
  font-size: 16px;
}

/* homepage */
.home {
  display: grid;
  gap: 100px;
}

.client-details {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 17px;
  background: #cfcfcf;
  border-radius: 20px;
  /*margin: 20px auto;*/
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.client-details h2 {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 1.4em;
  color: var(--primary);
}

.client-details p {
  margin: 0;
  font-size: 1em;
  color: #555;
}

.client-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.client-details #edit {
  background-color: #455766;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.client-details #edit:hover {
  background-color: #35434e;
}

.client-details #delete {
  background-color: #c46060;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.client-details #delete:hover {
  background-color: #a46060;
}

/* new client form */
label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  border-bottom: 3px solid #455766;
}

/*form button {
  background-color: #455766;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #35434e;
}*/

form h3 {
  margin-top: 0px;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.hata {
  border: 2px solid var(--error);
}

.dropdown {
  float: right;
  overflow: hidden;
  margin-right: 20px;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  border: 1px solid #333;
  border-radius: 10px;
  right: 11%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #cfcfcf;
  border-radius: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.form {
  background-color: #cfcfcf;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  padding: 20px;
}

.create button {
  background-color: #455766;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.create button:hover {
  background-color: #35434e;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.dropdown button {
  font-size: 1.65rem;
  border: 1px solid #00416600;
  background: none;
}

.dropdown button:hover {
  border: 1px solid #333;
  border-radius: 5px;
}

/*Modal*/

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position:fixed;
  z-index: 1;
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
  background-color: #c46060;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 0.75rem;
  cursor: pointer;
  font-weight: 700;
}

.close-model:hover{
  background-color: #a46060;
}